.flex-container {
  display: flex;
  margin:none;
  justify-content:space-evenly;
}

.flex-container > div {
  font-size: 30px;

}
button{
    outline: 0;
  border-width: 0 0 2px;
  background-color:none;
}
