.card {
    box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    height: 155px;
    width: 1434px;
  }
  .container {
    padding: 2px 16px;
    text-align: justify;
    font-size: 24px;
    margin-left: 300px;
  }